/* Container */
.todo-list {
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0px px 25px #333333;
  font-family: Arial, sans-serif;
  color: #00ffbb;
}

/* Header */
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
  color: #00ffbb;
  text-shadow: 0px 2px 2px #333333;
}

/* Form */
form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #00ffbb;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #1a1a1a;
}

input[type="text"]:focus {
  border-color: #00ffbb;
  box-shadow: 0px 0px 10px #00ffbb;
}

.submit {
  padding: 10px 20px;
  background-color: #00ffbb;
  color: #1a1a1a;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 1px 1px #333333;
}

.submit:hover {
  background-color: #00e5a5;
  box-shadow: 0px 0px 10px #00ffbb;
}

.submit:active {
  background-color: #00cc99;
  box-shadow: 0px 0px 5px #00ffbb;
  transform: translateY(2px);
}

/* Task List */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #333333;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #555555;
  animation-name: popIn;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.delete-button {
  margin-left: 10px;
  color: #ff0000;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 1px 1px #333333;
}

.delete-button:hover {
  color: #ff3333;
}
/* Empty Task Message */
.empty-task {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #00ffbf;
  text-shadow: 0px 0px 10px #00ffbf;
}

/* Counter */
.counter {
   
  /* background-color: #0e0f0f; */
  /* border-radius: 5px;
  box-shadow: 0px 2px 7px #2b2a2d; */
  font-size: 16px;
  font-weight: bold;
  color: #00bbff;
  max-width: 103px;
  animation: glow 1s ease-in-out infinite alternate;
  background: rgba(0, 0, 0, 0.715);
  border-radius: 5px;
}

 @keyframes glow {
  0% {
    box-shadow: 0 0 10px 1px #00ff6b;
  }
  100% {
    box-shadow: 0 0 20px 3px #00ff6b;
  }
} 


/* Clear All Button */
.clear {
  padding: 5px 10px;
  background-color: #1aff00;
  color: #fff;
  border: none;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  font-size: 16px;
  font-weight: bold;
  margin-left: 550px;
  text-shadow: 0px 0px 10px #1aff00;
}

.clear:hover {
  background-color: #00cc00;
  box-shadow: 0px 0px 10px #1aff00;
}

.clear:active {
  background-color: #009900;
  box-shadow: 0px 0px 5px #1aff00;
  transform: translateY(2px);
}

/* Task List */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #232323;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #2b2a2d;
  animation-name: popIn;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.delete-button {
  margin-left: 10px;
  color: #ff0000;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 0px 10px #ff0000;
}

.delete-button:hover {
  color: #d80000;
  text-shadow: 0px 0px 10px #d80000;
}
.hidden {
  display: none;
}